@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using DoAnWeb_MVC_ShopGiay.Models;
@model List<GioHang>
@{ var count = 0;
    }
<h2 style="text-align:center;">GIỎ HÀNG CỦA BẠN</h2>

<div class="class=card border-dark">
<table class="table">
    <tr style="background-color:lightyellow; text-align:center;">
        <th>Mã Giày</th>
        <th>Tên Giày</th>
        <th>Ảnh Bìa</th>
        <th>Số Lượng</th>
        <th>Đơn Giá</th>
        <th>Thành Tiền</th>
        <th colspan="3">@Html.ActionLink("Xóa Tất Cả","XoaGioHang_All","GioHang")</th>
    </tr>

@foreach (var item in Model) {
    <tr >
        <td width="12%">@item.MaGiay</td>
        <td width="26%">@item.TenGiay</td>
        <td width="22%"><img src="/Hinhsanpham/@item.AnhBia" width="150%"/></td>
        @using(Html.BeginForm("CapNhatGioHang","GioHang",new{@MaSP = item.MaGiay}))
        {
        <td width="12%"><input type="number" min="1" name="txtSoLuong" value="@item.SoLuong" size="2"/></td>
        <td width="12%">@String.Format("{0:0,0}",item.DonGia)</td>
        <td width="16%">@String.Format("{0:0,0}",item.ThanhTien)</td>
        <td><a href="@Url.Action("XemChiTiet", "Giay", new { @mg=item.MaGiay})">XEM CHI TIẾT</a></td>
        <td>@Html.ActionLink("XÓA", "XoaGioHang", new {@MaSP=item.MaGiay })</td>
        <td><button type="submit" class="btn btn-primary">Cập Nhật</button></td>
        }
    </tr>
    count = count + 1;
}
    @{
        if(count == 0)
        {
            <h2 style="text-align:center;">Giỏ Hàng Rỗng !!</h2>
            return;
        }
        }
    <tr style="background-color:lightyellow">
        <td colspan="3" style="color:blue; font-weight:bold; text-align:right">TỔNG CỘNG</td>
        <td style="color:red; font-weight:bold">@ViewBag.TongSoLuong</td>
        <td></td>
        <td style="color:red; font-weight:bold">@String.Format("{0:0,0}",ViewBag.TongThanhTien) VND</td>
        <td colspan="3" style="text-align:center;font-weight:bold;font-size:20px">@Html.ActionLink("ĐẶT HÀNG NGAY", "DatHang", "GioHang")</td>
    </tr>
</table>
</div>

