@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<center>
    <h1>Giới thiệu về SHOE STORE </h1>
</center>
<div class="container">
    <h5>Lý do ra đời</h5>
    <p>SHOE STORE ra đời dựa trên niềm yêu thích về các mặt hàng giày Nike, giày Adidas, giày Vans… của chủ shop bởi vẻ đẹp mê hoặc của các mẫu giày thời thượng này!</p>
    <p>Phần trở ngại lớn ở đây là giá tiền của những đôi giày Nike hay Adidas chính hãng thì quá cao so với đa phần các bạn trẻ, vì thế mình đã tìm tòi và tạo ra Giày Nation để nhằm đưa đến cho các bạn có niềm yêu thích những đôi giày cá tính này với một mức giá hấp dẫn kèm với chất lượng tốt nhất trong tầm giá.</p>
    <br />
    <p>Với tiêu chí mức giá hợp lý, vừa túi tiền nhưng chất lượng lại tốt hơn so với những gì các bạn lại bỏ ra, Giày Nation hứa sẽ luôn luôn đưa đến chân của bạn chất lượng giày đảm bảo tốt nhất.</p>
    <br />
    <h5>Tiêu chí bán hàng</h5>
    <p>Tiêu chí bán hàng tại Giày Nation đó là làm hài lòng khách hàng tối đa!</p>
    <p>&nbsp* Sản phẩm cao cấp.</p>
    <p>&nbsp* Chăm sóc khách hàng tốt.</p>
    <p>&nbsp* Giá cả hợp túi tiền.</p>
    <p>&nbsp* Hỗ trợ sau khi khách hàng đã mua hàng.</p>
    <p>&nbsp* Giao hàng nhanh chóng.</p>
    <br />
    <h5>Sản Phẩm</h5>
    <p>Tất cả sản phẩm giày, dép tại Giày Nation là những mẫu giày Nike Fake 1, giày Adidas Fake 1, giày Vans Fake 1… Đều được dựa trên nguyên bản gốc của các hãng giày Nike và Adidas.</p>
    <center><p><a href="@Url.Action("GiayPartial", "Giay")"><img src="/Hinhsanpham/adidas4.jpg"/></a></p></center>
    <center><p><a href="@Url.Action("GiayPartial", "Giay")">Giày Adidas</a></p></center>
    <br />
    <center><p><a href="@Url.Action("GiayPartial", "Giay")"><img src="/Hinhsanpham/nike3.jpg"/></a></p></center>
    <center><p><a href="@Url.Action("GiayPartial", "Giay")">Giày Nike</a></p></center>
    <br />
    <center><p><a href="@Url.Action("GiayPartial", "Giay")"><img src="/Hinhsanpham/bitis5.jpg"/></a></p></center>
    <center><p><a href="@Url.Action("GiayPartial", "Giay")">Giày Bitis</a></p></center>
    <br />
    <center><p><a href="@Url.Action("GiayPartial", "Giay")"><img src="/Hinhsanpham/puma5.jpg"/></a></p></center>
    <center><p><a href="@Url.Action("GiayPartial", "Giay")">Giày Puma</a></p></center>
    <br />
    <p>Hãy để mình làm 1 phép tính đơn giản, bạn bỏ số tiền 1tr8 để mua 1 đôi giày Nike hàng chính hãng, trong khi cùng số tiền đó, bạn có thể sở hữu được từ 4 – 5 mẫu giày Nike khác nhau, với màu sắc và thiết kế khách nhau để bạn có thể thoải mái phối được với nhiều bộ đồ của mình mà không phải nhàm chán.</p>
    <br />
    <p>Chính vì thế mà Giày Nation muốn được là người đưa đến cho các bạn nhiều mẫu giày hơn, được tiếp cận với những mẫu giày huyền thoại, hoặc những mẫu giày mới được ưa chuộng trên thế giới.</p>
    <br />
    <h5>Liên Hệ</h5>
    <p>Khách hàng có thể liên hệ với shop mình tại các kênh sau:</p>
    <br />
    <p>&nbsp * Hotline: 0396359345</p>
    <p>&nbsp * Zalo: <a href="https://chat.zalo.me/">Công Hậu</a></p>
    <p>&nbsp * Facebook: <a href="https://www.facebook.com/conghau0112/">Trương Công Hậu</a></p>
    <br />
    <p>Mọi thắc mắc sẽ được giải đáp ngay lập tức.</p>
    <br />
    <center><h5>Cảm ơn khách hàng đã đồng hành cùng Giày Nation</h5></center>
</div>